*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.header1{
	width: 100%;
	background-color: white;
	height:100px; 
	position: fixed;
	top: 0px;
	z-index: 1;
	background-color: rgb(178, 191, 209);
	/*line-height: 100px;*/
}

.logo{
	display: inline-block;
	background-color: rgb(178, 191, 209);
	height: 100px;
	width: 250px;
	padding: 16px;
	padding-left: 10px;
	font-size: 22px;
	letter-spacing: 5px;
	margin-left: 50px;
}

.category{
	display: inline-block;
	float: right;
	width: 500px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	/*background-color: red;*/
}

.category a{
	margin-left: 40px;
	text-decoration: none;
	color:rgb(33, 33, 33);
	font-size: 15px;
	letter-spacing: 1.5px;
	font-family: raleway,sans-serif;
}

/*.category img{
	margin-left: 20px;
}*/

.category a:hover{
	color: rgb(194,206,222);
}

.footer{
	display: inline-block;
	width: 100%;
	background-color:rgb(232, 232, 233); 
	margin-top: 10px;
	height: 80px;
	text-align: center;
	line-height: 80px;
}

.copyright{
	display: inline-block;
	width: 20%;
	margin-left: 40%;
	height: 80px;
	text-align: center;
	line-height: 80px;
	/*background-color: blue;*/
}

.footer-category{
	display: inline-block;
	float: right;
	width: 500px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	margin-right: 20px;
	/*background-color: red;*/
}

.footer-category a{
	margin-left: 40px;
	text-decoration: none;
	color:rgb(33, 33, 33);
	font-size: 15px;
	letter-spacing: 1.5px;
	font-family: raleway,sans-serif;
}

.content{
	height: 1350px;
	margin-top: 150px;
	/*background-color: red;*/
}

.content2{
	height: 1500px;
}

.carousel , .carousel-item {
	height: 500px;
	width: 80%;
	overflow: hidden;
	margin-left: 10%;
	/*background-color: red;*/
}

.carousel-item img{
	width: 100%;
	position:relative;
  top:60%;
}

.more{
	border-radius: 7px;
}

.more a{ 
	display: none;
}

.carousel-item:hover .more a{
	display: block;  
	width: 50%; 
	height: 60px;
	position: absolute;  
	top: 45%;
	left: 25%;
	font-size: 25px;
	text-align: center;
	color: white;
	line-height: 60px;
	text-decoration: none;
	background-color: rgb(240, 240, 240,0.2);
}

.carousel-item:hover img{
	transform:scale(1.2,1.2);
	transition: all 0.5s ease 0s;
	cursor: pointer;
	overflow: hidden;
}

.carousel-control-prev{
	margin-left: 70px;
}

.carousel-control-next{
	margin-right: 70px;
}

.place{
	width: 40%; 
	position: absolute;  
	top: 40%;
	left: 30%;
	text-align: center;
	color: white;
	font-size: 30px;
	text-decoration: none;
	font-family: raleway,sans-serif;
	letter-spacing: 3px;
	border-radius: 4px;
	background-color: rgb(240, 240, 240,0.5);
}

.date{
	font-family: Courier New;
}

.own-slider{
	width: 90%;
	/*height: 400px;*/
	margin-left: 5%;
	/*line-height: 500px;*/
	background-color: blue;
}

.our-slider div{
	/*display: inline-block;*/
	padding-top: 30px;
	/*width: 70%;/*/
	/*background-color: red;*/
}


.article{
	width: 100%;
	/*margin-left: 12.5%;*/
	margin-top: 30px;
	background-color:rgb(232, 232, 233); 
}

.article-content{
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	background-color: red;
}

.nft{
	width: 100%;
	margin-top: 30px;
}

.nft-content{
	display: inline-block;
	width: 80%;
	margin-left: 10%;
	background-color: blue;
}

.users{
	width: 80%;
	margin-left: 10%;
	margin-top: 30px;
}

.users-content{
	display: inline-block;
	width: 24.65%;
	text-align: center;
	/*background-color: red;*/
}

.users-content p{
	margin-top: 10px;
}

#backtotop{
	position: fixed;
	z-index: 1;
	display: none;
	right: 40px;
	bottom: 90px;
	width: 50px;
	height: 50px;
	color: #fff;
	background-color:rgb(194,206,222);
	line-height: 50px;
	border-radius: 50%;
	transition: all 0.5s;
	text-align: center;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10PX 0 rgba(0,0,0,0.12);
}

#backtotop a{
	text-decoration: none;
}

#backtotop:hover{
	background-color:rgb(33, 33, 33,0.7);
	text-decoration: none;
}



[class*="col-"] {
  width: 99%;

}

@media only screen and (max-width: 576px){

	.header1 , .header2{
		height: 70px;
	}

	.header2{
		margin-top: 70px;
	}

	.logo , .traveler{
  		margin-left: 0px;
  		width: 200px;
  		font-size: 18px;
  		height: 70px;
  	}

  	.traveler{
  		font-size: 22px;
  	}

  	.catagory{
  		width: 260px; 
  	}

  	.catagory a{
  		font-size: 14px;
  		margin-left: 5px;
		text-decoration: none;
		color:rgb(33, 33, 33);
		letter-spacing: 1.5px;
		font-family: raleway,sans-serif;
	}

	.catagory a:hover{
		color: rgb(194,206,222);
  	}

  	.contact{
  		width: 210px;
  	}

  	.footer{
  		height: 50px;
  		line-height: 50px;
  		margin-top: 50px;
  	}

  	.content{
		height: 1550px;
		/*background-color: red;*/
	}

	.content2{
		height: 1850px;
	}

	.content3{
		height: 1460px;
	}

	.carousel , .carousel-item {
		height: 300px;
		width: 90%;
		overflow: hidden;
		margin-top: 0px;
		margin-left: 5%;
		/*background-color: blue;*/
	}

	.place{
		width: 40%; 
		position: absolute;  
		top: 35%;
		left: 30%;
		text-align: center;
		color: white;
		font-size: 20px;
		text-decoration: none;
		font-family: Courier New;
		border-radius: 4px;
		background-color: rgb(240, 240, 240,0.5);
	}

	.date{
		font-family: Courier New;
	}

	.article{
		color: rgb(33, 33, 33);
	}

	#backtotop{
  		bottom:62px;
  	}
}

@media only screen and (min-width: 576px) and (max-width: 992px){
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}


  .header1 , .header2{
		height: 70px;
	}

	.header2{
		margin-top: 70px;
	}

  	.logo , .traveler{
  		margin-left: 20px;
  		width: 200px;
 		font-size: 18px;
 		height: 70px;
  	}

  	.traveler{
  		font-size: 22px;
  	}

  	.catagory{
  		width: 300px;
  	}

  	.catagory a{
  		margin-left: 10px;
  	}

  	.content{
		height: 1560px;
		/*background-color: red;*/
	}

	.content2{
		height: 1850px;
	}

	.content3{
		height: 1450px;
	}

	.carousel , .carousel-item {
		height: 400px;
		width: 90%;
		overflow: hidden;
		margin-top: 10px;
		margin-left: 5%;
		/*background-color: blue;*/
	}

	.place{
		width: 40%; 
		position: absolute;  
		top: 38.5%;
		left: 30%;
		text-align: center;
		color: white;
		font-size: 25px;
		text-decoration: none;
		font-family: Courier New;
		border-radius: 4px;
		background-color: rgb(240, 240, 240,0.5);
	}

	.date{
		font-family: Courier New;
	}

}

@media only screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}
